
.usertag{
    float: left;
    background-color: #fafafb;
    padding: 4.8px 6px;
    color: #39739D;
    border-radius: 3px;
    margin-right: 30px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.usertagname{
    display:inline-block;
    float: left;
    background-color: #e1ecf4;
    color: #3a749d;
    font-size: 20px;
    border-radius: 3px;
}
.usertagstat{
    float: left;
    color:#3a749d;
}