.question-box{
    border-bottom: 1px solid #d6d9dc;
    height: 130px;
    width: 100%;
    padding-top: 3px;
}
.votes{
    color:#848d95;
    text-align: center;
    float: left;
    margin-left: 20px;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top : 5px;
    padding-bottom: 5px;
}
.views{
    color:#848d95;
    text-align: center;
    float: left;
    margin-left: 20px;
    font-weight: 500;
    margin-right: 30px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top : 5px;
    padding-bottom: 5px;

}
.answers{
    color:#848d95;
    text-align: center;
    float: left;
    margin-left: 20px;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top : 5px;
    padding-bottom: 5px;
}

.question{
    font-weight: 500;
    padding-left: 20px;
    color: #2378cc;

}
.bounty{
    color: white;
    background-color: #2479cd;
    border-radius: 2px;
    padding: 2px;
    margin-right: 2px;
}
.bottom{
    margin-top: 10px;
}
.tag{
    float: left;
    background-color: #E1ECF4;
    padding: 4.8px 6px;
    color: #39739D;
    border-radius: 3px;
    margin-right: 6px;
}
.answers-true{
    border: 2px solid #5eba7d;
}
.details{
    margin-top: 30px;
}
.details small{
    margin-right: 10px;
    float: right;
    color:#848d95;
}
.reputation{
    font-weight: bold;
}
.userlink{
    cursor: pointer;
    color:blue !important;
}